{% from "security/_macros.html" import render_field_with_errors, render_field %}
<!-- {% include "security/_messages.html" %} -->

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>MarketBeam |  Empower Your Advocates</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/static/assets/global/plugins/select2/select2.css" rel="stylesheet" type="text/css"/>
<link href="/static/assets/admin/pages/css/login3.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME STYLES -->
<link href="/static/assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="/static/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="/static/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="/static/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color"/>
<!-- <link href="/static/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/> -->
<link href="/static/css/custom-css.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="/static/img/favicon-market-beam.png" type="image/png"/>
</head>
<!-- BEGIN BODY -->
<body class="login backgroundPicture" style="background-image:url(/static/img/Background-2.png);">
<!-- BEGIN LOGO -->
<div class="logo">
		<a href="index.html">
				<img src="/static/img/logo-market-beam.png"  alt="Market Beam"
						 style="width: 320px; height: auto; position:relative; top: -60px" />
		</a>
		<!-- <p class="captionUnderLogo">10X Your Social Reach</p> -->
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content loginBox">
	<!-- BEGIN RESET PASSWORD FORM -->
	<form class="login-form" action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="post" name="reset_password_form">
	  {{ reset_password_form.hidden_tag() }}
		<h3 style="text-align:center;margin-bottom: 20px;">Set Password</h3>
{% for field, errors in reset_password_form.errors.items() %}
	{% for error in errors %}
		<div class="alert alert-danger">
			<button class="close" data-close="alert"></button>
			<span>
              {{ error }}
			</span>
		</div>
	{% endfor %}
{% endfor %}
{%- with messages = get_flashed_messages(with_categories=true) -%}
  {% if messages %}
    {% for category, message in messages %}
		<div class="alert alert-{% if category != 'None' %}{{ 'info' }}{% else %}{{ category }}{% endif %}">
			<button class="close" data-close="alert"></button>
			<span>
			  {{ message }}
			</span>
		</div>
    {% endfor %}
  {% endif %}
{%- endwith %}
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">New Password</label>
			<div class="controls">
				<div class="input-icon">
					<i class="fa fa-check"></i>
					<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="New Password" name="password" id="password" required/>
				</div>
			</div>
		</div>
		<div class="form-group" id="pmatchgroup">
			<label class="control-label visible-ie8 visible-ie9">Confirm New Password</label>
			<div class="controls">
				<div class="input-icon">
					<i class="fa fa-check"></i>
					<input class="form-control placeholder-no-fix" type="password"
						   name="password_confirm" id="password_confirm"
						   autocomplete="off" placeholder="Re-type New Password"
						   onkeyup="checkPassMatch('password', 'password_confirm', 'passmatcherror', 'pmatchgroup'); return false;" required>
				</div>
				<span id="passmatcherror" for="password_confirm" class="help-block" style="display: none">Passwords don't match</span>
			</div>
		</div>
		<div class="form-actions" style="height: 38px;">
		  <!-- <a href="{{ url_for_security('login') }}">
			<button id="register-back-btn" type="button" class="btn">
			<i class="m-icon-swapleft"></i> Login </button> 
		  </a>-->
			<button type="submit" id="register-submit-btn" class="btn blue pull-right">
			Login <i class="m-icon-swapright m-icon-white"></i>
			</button>
		</div>
	</form>
	<!-- END CHANGE PASSWORD FORM -->
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<!-- <div class="copyright">
	 2019 &copy; MarketBeam, Inc.
</div> -->
<footer class="copyright" style="height: 5%; 
width:100%;
position: absolute;
left: 0;
bottom: 0;text-align: center">2019 &copy; MarketBeam, Inc.</footer>
<!-- END COPYRIGHT -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="/static/assets/global/plugins/respond.min.js"></script>
<script src="/static/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="/static/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/assets/global/plugins/select2/select2.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/static/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/static/assets/admin/pages/scripts/login.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<script>
  jQuery(document).ready(function() {
  Metronic.init(); // init metronic core components
  Layout.init(); // init current layout
  Login.init();
  });
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
